.modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
  z-index: 2;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: clamp(0.7rem, 2vw, 1rem);
  max-height: 90%;
  height: auto;

  .mainImg {
    max-width: 80%;
    height: auto;
    margin: auto;
    overflow: auto;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .author {
      display: flex;
      align-items: center;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    .place {
      display: flex;
      align-items: center;
      padding-right: 1rem;
    }
    .time {
      display: flex;
      align-items: center;
      padding-right: 0.5rem;
    }
  }
  .icon.user {
    height: 30px;
    margin-right: 10px;
  }
  .icon.close {
    height: 20px;
    cursor: pointer;
  }
  .icon.location {
    height: 20px;
    margin-right: 10px;
  }
  .icon.time {
    height: 20px;
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(107, 107, 107, 0.7);
  z-index: 1;
  left: 0;
  top: 0;
}
