.search {
  min-width: 250px;
  max-width: 700px;
  margin: auto;
  outline: none;
  position: relative;
  margin-bottom: 2rem;

  .searchBar {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: white;
    border-radius: 3px;

    button {
      height: 20px;
      border: none;
      background-color: inherit;
      cursor: pointer;

      img {
        height: 100%;
      }
    }

    .input {
      height: 100%;
      border: none;
      width: -webkit-fill-available;
      padding: 0 10px;
      outline: none;
    }

    input::placeholder {
      font-weight: 600;
      color: #8f8f8f;
    }

    input[type="search"]::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }
    input[type="search"]::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      display: none;
    }
  }

  .searchBarGray {
    border-radius: 2rem;
    background-color: rgb(233, 233, 233);
    height: 40px;

    .input {
      background-color: rgb(233, 233, 233);
    }
  }

  .searchResults {
    height: auto;
    position: absolute;
    width: 100%;
    background-color: white;
    margin-top: 5px;
    border-radius: 3px;
    margin-top: 5px;
    box-sizing: border-box;
    text-align: left;
    padding: 10px 0px;
    .result {
      padding: 7px 15px;
      cursor: pointer;
      margin: 0;
    }
    .result:hover {
      background-color: #f3f3f3;
    }

    .error {
      cursor: default;
    }
    .error:hover {
      background-color: inherit;
    }
  }
}
